# Ignore node_modules (if you add a backend or use Node)
node_modules/

# Ignore local environment files
.env

# Ignore macOS system files
.DS_Store

#älä lähetä tätä githubiin drag&dropissa. Pointti kansiolla on juuri että se ei mene sinne...